.works{

.photo0{
  display: flex;
  img{
        width: 917px;
  }
}
  h1{
        font-family: "NeueHaasDisplay-Roman";
        font-size: 20px;
        margin-top: 286px;
        margin-left: 80px;
        font-weight: lighter;
  }
  h2 {
    font-family: 'NeueHaasDisplay-Roman';
    font-size: 20px;
  font-weight: lighter;
    margin-left: 190px;
    margin-top: -213px;
  }
   h3{
    font-family: "NeueHaasDisplay-Roman";
    font-size: 20px;
    font-weight: lighter;
    margin-left: 43px;
    margin-top: 74px;
   }

.photo09 {
  display: flex;

  img {
    width: 501px;
    margin-top: 15px;
    margin-left: 190px;
  }

  #pp{
    img{
       width: 501px;
       margin-top: 15px;
       margin-left: 33px;

    }
  }
}

.photo010{
  display: flex;


  img{
    margin-top: 39px;
    width: 684px;
  }

  #po{
    img{
         margin-left: 370px;
         width: 737px;
    }
  }
}
}
