.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: white;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    >* {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
  *{
    cursor: none;
  }
  .cursor-dot,
  .cursor-dot-outline{
    pointer-events: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0,3s ease-in-out, transform 0.3s ease-in-out;
  }

  .cursor-dot {
    width: 8px;
    height: 8px;
    background-color: black;

  }
  .cursor-dot-outline{
    width: 40px;
    height: 40px;
    background-color: black;
  }
}

@font-face {
  font-family: 'NeueHaasDisplay-Roman';
  src: local('NeueHaasDisplay-Roman'), url(./fonts/NeueHaasDisplay-Roman.ttf) format('opentype');
}
